@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,800,900|Rancho');
@import 'global';



$loaded-transition-time: 0.75s;

body {
  background-color:#222;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  overflow: hidden;
}

body:after {
  @include overlay-fixed;
  background-color: #333;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

body.loaded:after {
  visibility: hidden;
  opacity: 0;
  transition: opacity $loaded-transition-time ease-in,
    visibility $loaded-transition-time linear;
}

body.loaded .spinner {
  top: -25%;
  visibility: hidden;
  transition: top $loaded-transition-time cubic-bezier(.21,.05,.91,.14),
    visibility $loaded-transition-time linear;
}

#body {
  padding: 80px 0;
}

#section-title {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  transform: rotate(1.5deg);
}

#section-title h1 {
  position: relative;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  font-size: 400%;
  @include no-spacing;
  color: rgba(255,0,255,0.75);
  top: 3px;
}

//#section-title h1,
//#section-title h1::after,
//#section-title h1::before {
//  text-shadow: 0px 1px 1.5px $color-shadow;
//}

#section-title h1::after {
  content: attr(data-text);
  position: absolute;
//  left: $cmy-offset-horizontal;
//  top: $cmy-offset-vertical;
//  right: -$cmy-offset-horizontal;
  top:-3px;
  right:0;
  bottom: 0;
  left: 0;
  color: black;
}

#section-title h1::before {
  content: attr(data-text);
  position: absolute;
  left: -3px;
  top: -6px;
  right: 3px;
  color: rgba(0,255,255,0.75);
}

#section-top {
  position: relative;
}

#section-carousel {
  width: 100%;
  max-height: 500px;
  overflow-y: hidden;
  box-shadow: 0px 0px 8px 10px $color-shadow;
}

//#section-carousel::after {
//  @include overlay;
//  box-shadow: inset 0px 11px 8px -10px $color-shadow,
//    inset 0px -11px 8px -10px $color-shadow;
//  pointer-events: none;
//}

#section-carousel img {
  width: 100%;
}

img.vertical-align {
  transition: margin-top .5s ease-out;
}

div.vertical-align {
  transition: max-width .5s ease-out;
}

#section-links {
  @include centerer(true, false);
  bottom: -125px;
}

#section-links ul {
  @include inline-list;
}

#section-links li {
  margin: 0 1em;
}

#section-links a {
  display: inline-block;
  width: 250px;
  height: 250px;
  @include hide-text;
  box-shadow: 0px 5px 10px 0px $color-shadow;
}

#link-facebook {
  background: $color-facebook svg("facebook-logo-white.svg") no-repeat center / 50%;
}

#link-etsy {
  background: $color-etsy svg("etsy-logo-white.svg") no-repeat center / 60%;
}
