@import "compass/typography/lists/inline-list";
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,800,900|Rancho');

@mixin hide-text {
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin no-spacing {
  margin: 0;
  padding: 0;
}

ul {
  @include inline-list;
}

.paper-shadow {
  position:relative;
  padding:1em 2em;
  background: #F3F0E2 repeat center;
  background-image: url(http://api.thumbr.it/whitenoise-1200x400.png?background=f3f0e2ff&noise=c4c2b8&density=40&opacity=20);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.paper-shadow::before,
.paper-shadow::after {
  content:"";
  position:absolute;
  z-index:-2;
}

/* Lifted corners */

.lifted {
  border-radius:2px;
}

.lifted::before,
.lifted::after {
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  transform:rotate(-3deg);
}

.lifted::after {
  right:10px;
  left:auto;
  transform:rotate(3deg);
}

$color-facebook: #3B5998;
$color-text: #444;
$color-etsy: #F56400;
$color-shadow: rgba(0, 0, 0, 0.6);

$image-path: "../img";

body {
  background-color:#222;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
  background-size:80px 80px;
  background-position:0 0, 40px 40px;
}

#body {
  padding: 80px 0;
}

#section-title {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  transform: rotate(1.5deg);
}

#section-title h1 {
  position: relative;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  font-size: 400%;
  @include no-spacing;
  color: rgba(255,0,255,0.75);
  top: 3px;
}

//#section-title h1,
//#section-title h1::after,
//#section-title h1::before {
//  text-shadow: 0px 1px 1.5px $color-shadow;
//}

#section-title h1::after {
  content: attr(data-text);
  position: absolute;
//  left: $cmy-offset-horizontal;
//  top: $cmy-offset-vertical;
//  right: -$cmy-offset-horizontal;
  top:-3px;
  right:0;
  bottom: 0;
  left: 0;
  color: black;
}

#section-title h1::before {
  content: attr(data-text);
  position: absolute;
  left: -3px;
  top: -6px;
  right: 3px;
  color: rgba(0,255,255,0.75);
}

#section-top {
  position: relative;
}

#section-carousel {
  width: 100%;
  max-height: 500px;
  overflow-y: hidden;
  box-shadow: 0px 0px 8px 10px $color-shadow;
}

//#section-carousel::after {
//  @include overlay;
//  box-shadow: inset 0px 11px 8px -10px $color-shadow,
//    inset 0px -11px 8px -10px $color-shadow;
//  pointer-events: none;
//}

#section-carousel img {
  width: 100%;
}

img.vertical-align {
  transition: margin-top .5s ease-out;
}

div.vertical-align {
  transition: max-width .5s ease-out;
}

#section-links {
  @include centerer(true, false);
  bottom: -125px;
}

#section-links li {
  margin: 0 1em;
}

#section-links a {
  display: inline-block;
  width: 250px;
  height: 250px;
  @include hide-text;
  box-shadow: 0px 5px 10px 0px $color-shadow;
}

#link-facebook {
  background: $color-facebook inline-image("facebook-logo-white.svg") no-repeat center / 50%;
}

#link-etsy {
  background: $color-etsy inline-image("etsy-logo-white.svg") no-repeat center / 60%;
}
