@import "compass/typography/lists/inline-list";

@mixin hide-text {
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ul {
  @include inline-list;
}

$color-facebook: #3B5998;
$color-text: #444;
$color-etsy: #F56400;
$color-shadow: rgba(0, 0, 0, 0.50);

$image-path: "../img";

#body {
  margin: 0 auto;
}

#section-title {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

#section-top {
  position: relative;
}

#section-carousel {
  width: 100%;
  max-height: 500px;
  overflow-y: hidden;
}

#section-carousel::after {
  @include overlay;
  box-shadow: inset 0px 11px 8px -10px $color-shadow,
    inset 0px -11px 8px -10px $color-shadow;
}

#section-carousel img {
  width: 100%;
}

img.vertical-align {
  transition: margin-top .5s ease-out;
}


div.vertical-align {
  transition: max-width .5s ease-out;
}

#section-links {
  @include centerer(true, false);
  bottom: -125px;
}

#section-links a {
  display: inline-block;
  width: 250px;
  height: 250px;
  @include hide-text;
  box-shadow: 0px 5px 10px 0px $color-shadow;
}

#link-facebook {
  background: $color-facebook inline-image("facebook-logo-white.svg") no-repeat center / 50%;
}

#link-etsy {
  background: $color-etsy inline-image("etsy-logo-white.svg") no-repeat center / 60%;
}
