<div id="section-top" class="paper-shadow lifted">
  <div id="section-carousel">
    <!-- build:include:build_html img/sun-barn.dist.svg -->
    <!-- /build -->
  </div>
</div>
<nav id="section-links">
  <ul>
    <li><span><a href="" id="link-facebook" class="link-external">Facebook Page</a></span></li><li><span><a href="" id="link-etsy" class="link-external">Etsy Store</a></span></li>
  </ul>
</nav>
