---
layout: home
---
<nav id="social-links" class="section">
  <div class="container">
    <ul class="columns">
      <li id="link-facebook" class="column">
        <a href="" class="link-external">
          <span class="flex centered">
            <span>Follow me on </span>
            <span class="replace-with-image">Facebook</span>
          </span>
        </a>
      </li>
      <li id="link-etsy" class="column">
        <a href="" class="link-external">
          <span class="flex centered">
            <span>Buy my work on </span>
            <span class="replace-with-image">Etsy</span>
          </span>
        </a>
      </li>
    </ul>

    <!--
<div class="columns">
<div id="link-facebook" class="column has-text-centered">
<a href="" class="is-overlay link-external">Follow me on <span class="replace-with-image">Facebook</span></a>
</div>
<div id="link-etsy" class="column has-text-centered">
<a href="" class="is-overlay link-external">Buy my work on <span class="replace-with-image">Etsy</span></a>
</div>
</div>
-->
  </div>
</nav>
