<footer id="section-footer">
  <div class="footer-right">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-etsy"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-left">
    <ul class="footer-links">
      <li><a href="/">Home</a></li>
      <li><a href="#">Terms &amp; Privacy</a></li>
    </ul>
    <p class="footer-copyright">Karina Constable &copy; 2017</p>
  </div>
</footer>
<!-- begin:js-->
<!-- end:js-->
<!-- build:remove:dist -->
<script src="//localhost:35729/livereload.js"></script>
<!-- /build -->
