---
layout: global
---
<header id="page-hero" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="site-title">
        <h1 class="title" data-text="{{ pkg.description }}">{{ pkg.description }}</h1>
      </div>
      <div class="feature">
        <!-- build:include:build_html img/sun-barn.dist.svg -->
        <!-- /build -->
      </div>
    </div>
  </div>
</header>
<main>
  {{>body}}
</main>
