---
layout: global
---
<header class="hero is-primary page-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" data-text="{{pkg.description}}">{{pkg.description}}</h1>
      <h2 class="subtitle">{{title}}</h2>
    </div>
  </div>
</header>
<main>
  {{>body}}
</main>
